@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: black;
}
#logo {
  position: absolute;
  top: 30px;
  left: 10px;
}
.container {
  margin-left: 0;
}
#login {
  position: absolute;
  top: 50px;
  left: 85%;
  border-radius: 45px;
  font-size: 23px;
  width: 137px;
  height: 40px;
  outline: none;
  border: none;
  background-color: #92c14c;

  color: white;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}
#login:hover {
  width: 140px;
  filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.5));
}
.container img {
  margin-top: 20px;
  width: 1518px;
}
.container2 {
  margin-top: -25%;
  display: flex;
}
.container2 img {
  width: 33.96px;
  height: 31.03px;
  padding-left: 20px;
  margin-top: 12px;
}
.locate {
  background: #92c14c;
  display: flex;
  position: absolute;
  width: 178px;
  height: 52px;
  left: 512px;
  top: 355px;
  padding-left: 20px;
}
.input input {
  position: absolute;
  left: 149px;
  top: 355px;
  background-color: #fcfcfc;
  height: 52px;
  width: 363px;
  border: 1px solid #fff8f8;
  box-sizing: border-box;
  font-size: 26px;
  padding-left: 50px;
}
.locate h3 {
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  color: #fff7f7;
  margin-top: 15px;
}
.container3 {
  margin-left: calc(60%);
  margin-top: -100px;
  padding-left: 30px;
  border-radius: 20px;
  width: 500px;

  background: linear-gradient(
    90deg,
    #fcf6f650 27.64%,
    rgba(252, 252, 252, 0) 99.91%
  );
  opacity: 0.8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.container3 h2 {
  font-size: 45px;
  color: black;
}
.container3 h1 {
  position: relative;
  font-size: 50px;
  color: #ffffff;
}
#whyus {
  text-align: center;
  margin-top: 300px;
  font-size: 40px;

  font-weight: bolder;
}
.img img {
  padding-left: 50%;
  margin-top: -100px;
}

.container4 {
  margin-top: -500px;
  display: grid;
  height: 50px;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 30px 30px;
  grid-gap: 200px;
  justify-content: center;
}
.grid1 img {
  padding-left: 80px;
}
.grid1 h3 {
  font-size: 28px;
}

.footer {
  height: 500px;
  padding-left: 200px;
  margin-top: 500px;
  display: grid;
  grid-template-columns: 200px 200px 200px 400px;
  grid-gap: 100px;
  background-color: #44803e;
}
.foot1 {
  font-family: roboto;
  font-weight: 400;
  font-style: normal;
}
.foot1 h3 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 28px;
  color: #fff6f6;
}
.foot1 h4 {
  font-size: 20px;
  color: #fff6f6;
  font-weight: 400;
}
.bottom {
  margin-top: -88px;
  background-color: #44803e;
  padding-left: 530px;
  color: #ffffff;
  font-family: roboto;
  font-weight: 700s;
  letter-spacing: 2px;
}
